@model Library.PresentationLayer.Web.Models.BookModel
@using Library.PresentationLayer.Web.Models
@using Library.BusinessLogicLayer.Managers

@using (Html.BeginForm("Save", "Book", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="lib-writer-table-row">
        @Html.HiddenFor(model => Model.Id)
        <div>@Html.EditorFor(model => Model.Title, new { htmlAttributes = new { @class = "lib-transparent-input" } }) </div>
        <div class="p10">@Html.EditorFor(model => Model.NoOfPages, new { htmlAttributes = new { @class = "lib-transparent-input max50" } }) </div>
        <div class="p10">@Html.EditorFor(model => Model.StockCount, new { htmlAttributes = new { @class = "lib-transparent-input max50" } })</div>


        @{
            Writers WriterManager = new Writers();
            IEnumerable<WriterModel> writers = WriterManager.GetAll().Select(x => (WriterModel)x);
            var writersList = new SelectList(writers, "Id", "Name");
        }
        <div>
            @Html.DropDownListFor(model => model.Writer.Id, writersList, new { @class = "form-control lib-transparent-input" })
        </div>

        <div>
            @{
                Genres GenreManager = new Genres();
                IEnumerable<GenreModel> genres = GenreManager.GetByBookId(Model.Id).Select(x => (GenreModel)x);
                int count = genres.Count() - 1;
                int i = 0;
                foreach (GenreModel genre in genres)
                {
                    @Html.Raw(genre.Name)
                    if (i != count)
                    {
                        @Html.Raw(", ")
                    }
                    i++;
                }
            }
        </div>
        <div>
            <input type="submit" value="Save" class="btn btn-success btn-xs" />
            @Html.ActionLink("Genres", "EditBookGenre", "Book", new { id = Model.Id }, new { @class = "btn btn-default btn-xs" })
            @Html.ActionLink("Delete", "Delete", "Book", new { id = Model.Id }, new { @class = "btn btn-warning btn-xs delete-button" })
            @Html.ActionLink("Rent", "RentBook", "Rent", new { id = Model.Id }, new { @class = "btn btn-info btn-xs rent-button" })
        </div>

    </div>
                }
