@model PagedList<Library.PresentationLayer.Web.Models.BookModel>
@using PagedList;
@using PagedList.Mvc;
@using Library.PresentationLayer.Web.Helpers;

<form method="get" action="@Url.Action("Index", "Home")">
    <div class="lib-search-container">
        <input type="text" name="search" id="search" class="form-control lib-search" placeholder="search..." />
        <button type="submit" class="btn btn-success btn-xs lib-search-button float-left">Search</button>
        @Html.ActionLink("Clear", "Index", "Home", null, new { @class = "btn btn-info btn-xs lib-search-button float-right" })
    </div>
    <button type="submit" style="display:none;">Search</button>
</form>

@if (TempData.ContainsKey("BookRental"))
{
    <div class="alert alert-info">
        @{
            string[] rentalInfo = TempData["BookRental"].ToString().Split('&');
            @Html.Raw("<b>Book rented: </b>" + "User " + rentalInfo[0] + " rented " + rentalInfo[1] + " - <b>Return date: </b>" + rentalInfo[2])
        }
    </div>
            }
@if (TempData.ContainsKey("BookRentalFail"))
{
    <div class="alert alert-warning">
        @{
            string[] rentalInfo = TempData["BookRentalFail"].ToString().Split('&');
            @Html.Raw("User " + rentalInfo[0] + " already rented " + rentalInfo[1])
        }
    </div>
            }

<div class="lib-writer-new-table">
    <div class="lib-writer-table-header">
        <div>Title</div>
        @if (Request.IsAuthenticated && UserIdentity.IsInRole("Administrator"))
        {
            <div class="p10">Number of pages</div>
            <div class="p10">Stock count</div>

        }
        else
        {
            <div>Number of pages</div>
            <div>Stock count</div>
        }
        
        <div>Writers name</div>
        <div>Genre</div>
        @if (Request.IsAuthenticated && UserIdentity.IsInRole("Administrator"))
        {
            <div>Controls</div>
        }
        else if (Request.IsAuthenticated)
        {
            <div class="lib-rent">Controls</div>
        }
    </div>
    <div class="lib-writer-table-container">
        @if (Request.IsAuthenticated && UserIdentity.IsInRole("Administrator"))
        {
            foreach (var item in Model)
            {
                Html.RenderPartial("_PartialBookAdmin", item);
            }
        }
        else
        {
            foreach (var item in Model)
            {
                Html.RenderPartial("_PartialBookUser", item);
            }
        }
    </div>

    

</div>
@if (Request.IsAuthenticated && UserIdentity.IsInRole("Librarian,Administrator"))
{
    @Html.ActionLink("Add book", "Create", "Book", null, new { @class = "btn btn-block btn-primary" })
}
<div class="lib-pagination-container">
    <div class="lib-pagination">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
        Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount books
    </div>
</div>