@model PagedList<Library.PresentationLayer.Web.Models.WriterModel>
@using PagedList;
@using PagedList.Mvc;

<h2>Manage writers</h2>
@Html.ActionLink("Add a new writer", "Create", "Writer", null, new { @class = "btn btn-block btn-info" })

<div class="lib-writer-new-table">
    <div class="lib-writer-table-header">
        <div class="lib-writer-name">Writers name</div>
        <div>Biography</div>
        <div class="lib-writer-nob">No of books</div>
        <div class="lib-writer-controls">Controls</div>
    </div>
    <div class="lib-writer-table-container">
        @foreach (var item in Model)
            {
                Html.RenderPartial("_PartialWriter",item);
            }
    </div>
</div>
@Html.ActionLink("Back to index", "Index", "Home", null, new { @class = "btn btn-primary btn-block" })
<div class="lib-pagination-container">
    <div class="lib-pagination">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
        Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount writers
    </div>
</div>